snippet class
class ${1:class name}
  ${2:class body}
end
endsnippet

snippet def
def ${1:name args}
  ${2:body}
end
endsnippet

snippet module
module ${1:module name}
${2:module body}
end
endsnippet

snippet rr
require_relative "${1:requirement}"
endsnippet
