extends basic

snippet $$ "Maths block" A
\[
	$0
\]
endsnippet

snippet bb "Set symbols" iA
\mathbb{${0:C,N,Q,R,Z...}}
endsnippet

snippet forall "∀" iA
\forall
endsnippet

snippet in "∈" w
\in
endsnippet

snippet log "Logarithm" i
\log($1)$2
endsnippet

snippet subset "⊂" i
\subset
endsnippet
