snippet a
<a$1>$2</a>
endsnippet

snippet ahref
<a href="$1">$2</a>
endsnippet

snippet body
<body>
$1
</body>
endsnippet

snippet div
<div$1>
	$2
</div>
endsnippet

snippet h
<h$1>$2</h$1>
endsnippet

snippet head
<head>
$1
</head>
endsnippet

snippet html
<!DOCTYPE html>
<html>

$1

</html>
endsnippet

snippet img
<img src="$1" alt="$2"$3>
endsnippet

snippet style
<style>
$1
</style>
endsnippet

snippet tag
<$1>$2</$1>
endsnippet

snippet title
<title>$1</title>
endsnippet
