snippet aicat
<!-- ${1:Rule description} -->
<category>
	<pattern>${2:Matching pattern}</pattern>
	<template>${3:Response}</template>
</category>
endsnippet

snippet cond
<condition var="${1:Variable}">
	<li value="${2:Value}">${3:Response}</li>
</condition>
endsnippet

snippet aiinit
<?xml version="1.0" encoding="UTF-8"?>
<aiml version="2.0">

$1

</aiml>
endsnippet

snippet botname
<bot name="${1:Property}"/>
endsnippet

snippet comment
<!-- $1 -->
endsnippet

snippet getname
<get name="${1:Variable}"/>
endsnippet

snippet getvar
<get var="${1:Variable}"/>
endsnippet

snippet li
<li>$1</li>
endsnippet

snippet livalue
<li value="${2:Value}">${3:Response}</li>
endsnippet

snippet loop
<loop/>
endsnippet

snippet map
<map name="${1:Map}">$2</map>
endsnippet

snippet setname
<set name="${1:Variable}">${2:Value}</set>
endsnippet

snippet setvar
<set var="${1:Variable}">${2:Value}</set>
endsnippet

snippet settopic
<set name="topic">$1</set>
endsnippet

snippet think
<think>
	$1
</think>
endsnippet

snippet star
<star/>
endsnippet

snippet istar
<star index="$1"/>
endsnippet

snippet srai
<srai>$1</srai>
endsnippet

snippet rand
<random>
	<li>$1</li>
</random>
endsnippet

snippet template
<template>${1:Response}</template>
endsnippet

snippet that
<that>${1:Template context}</that>
endsnippet

snippet topic
<topic name="$1">
	$2
</topic>
endsnippet
